/* Container do Card com animação */
.bookcard-container {
  cursor: pointer;
    pointer-events: auto;
}

/* Estilização geral do Card */
.bookcard {
  width: 18rem;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;


}


/* Imagem do Card */
.bookcard-img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Descrição curta */
.bookcard-descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* quantas linhas deseja */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
   max-height: 4.5em; /* ajusta conforme o tamanho da fonte */
   
 
}

.bookcard button {
  position: relative;
  z-index: 10;
}
