.bookcard-container {
  cursor: pointer;
    pointer-events: auto;
}

.bookcard {
  width: 18rem;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;
}

.bookcard-img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.bookcard-descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
   max-height: 4.5em;
}

.bookcard button {
  position: relative;
  z-index: 10;
}
